<div class="row row--wide row--short">
    <p>{{fileInfo.description}}</p>
</div>

<div class="row row--wide">
    <div id="show-short-link">
        <div class="column column--2 column--sml-10">
            <span class="label">Link:</span>
        </div><div class="column column--8 column--sml-10">
            <div class="row row--short row--wide">
                <div class="column column--7">
                    <div class="input-error" id="input-error-copy-short-link" hidden="true"></div>
                    <input type="text" id="short-link" class="input-disabled input-text--full-width" readonly spellcheck="false" value="https://spee.ch/{{fileInfo.shortId}}/{{fileInfo.name}}.{{fileInfo.fileExt}}" onclick="select()"/>
                </div><div class="column column--1"></div><div class="column column--2">
                    <button class="button--primary" data-elementtocopy="short-link" onclick="copyToClipboard(event)">copy</button>
                </div>
            </div>
        </div>
    </div>
    <div id="show-embed-code">
        <div class="column column--2 column--sml-10">
            <span class="label">Embed:</span>
        </div><div class="column column--8 column--sml-10">
            <div class="row row--short row--wide">
                <div class="column column--7">
                    <div class="input-error" id="input-error-copy-embed-text" hidden="true"></div>
                    {{#ifConditional fileInfo.fileType '===' 'video/mp4'}}
                        <input type="text" id="embed-text" class="input-disabled input-text--full-width" readonly onclick="select()" spellcheck="false" value='&lt;video width="100%" controls poster="{{fileInfo.thumbnail}}" src="https://spee.ch/{{fileInfo.claimId}}/{{fileInfo.name}}.{{fileInfo.fileExt}}"/>&lt;/video>'/>
                    {{else}}
                        <input type="text" id="embed-text" class="input-disabled input-text--full-width" readonly onclick="select()" spellcheck="false" value='&lt;img src="https://spee.ch/{{fileInfo.claimId}}/{{fileInfo.name}}.{{fileInfo.fileExt}}"/>'/>
                    {{/ifConditional}}
                </div><div class="column column--1"></div><div class="column column--2">
                <button class="button--primary" data-elementtocopy="embed-text" onclick="copyToClipboard(event)">copy</button>
            </div>
        </div>
    </div>
    </div>
</div>

<div id="show-share-buttons">
    <div class="row row--wide">
        <div class="column column--2 column--sml-10">
            <span class="label">Share:</span>
        </div><div class="column column--8 column--sml-10">
        <div class="row row--short row--wide">
            <div class="column column--2">
                <a target="_blank" href="https://twitter.com/intent/tweet?text=https://spee.ch/{{fileInfo.shortId}}/{{fileInfo.name}}.{{fileInfo.fileExt}}">twitter</a>
            </div>
            <div class="column column--2">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fspee.ch%2F{{fileInfo.shortId}}%2F{{fileInfo.name}}.{{fileInfo.fileExt}}&amp;src=sdkpreparse">facebook</a>
            </div>
            <div class="column column--2">
                <a target="_blank" href="https://www.tumblr.com/widgets/share/tool?posttype=photo&title=Spee.ch%20%7C%20Share&caption=Shared%20From%20https://spee.ch%20A%20Decentralized%20Image%20Hosting%20Service%20Running%20On%20The%20LBRY%20Protocol%20&content=https://spee.ch/{{fileInfo.shortId}}/{{fileInfo.name}}.{{fileInfo.fileExt}}&tags=lbry%2C%20spee.ch%2C%20lbry.io&canonicalUrl=https%3A%2F%2Fspee.ch%2F{{fileInfo.shortId}}%2F{{fileInfo.name}}.{{fileInfo.fileExt}}&shareSource=tumblr_share_button">tublr</a>
            </div>
            <div class="column column--2">
                <a target="_blank" href="https://www.reddit.com/submit?url=http%3A%2F%2Fspee.ch%2F{{fileInfo.shortId}}%2F{{fileInfo.name}}.{{fileInfo.fileExt}}&title={{fileInfo.name}}(Decentralized%20Hosting%20Provided%20By%20Spee.ch%20Using%20the%20LBRY%20Protocol)">reddit</a>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="row row--wide">
    <a class="label" id="show-details-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-openlabel="[less]" data-closedlabel="[more]" data-slaveelementid="show-details">[more]</a>
</div>

<div id="show-details" hidden="true">
    <div id="show-claim-name">
        <div class="column column--2 column--sml-10">
            <span class="label">Name:</span>
        </div><div class="column column--8 column--sml-10">
        {{fileInfo.name}}
        </div>
    </div>
    <div id="show-claim-id">
        <div class="column column--2 column--sml-10">
            <span class="label">Claim Id:</span>
        </div><div class="column column--8 column--sml-10">
        {{fileInfo.claimId}}
        </div>
    </div>
    <div id="show-claim-id">
        <div class="column column--2 column--sml-10">
            <span class="label">File Name:</span>
        </div><div class="column column--8 column--sml-10">
        {{fileInfo.fileName}}
        </div>
    </div>
    <div id="show-claim-id">
        <div class="column column--2 column--sml-10">
            <span class="label">File Type:</span>
        </div><div class="column column--8 column--sml-10">
        {{#if fileInfo.fileType}}
            {{fileInfo.fileType}}
        {{else}}
            unknown
        {{/if}}
        </div>
    </div>
</div>
