<div class="panel">
	<h2>links</h2>
	<table class="table-metadata" style="table-layout: fixed">
		<tr>
			<td class="left-column">Direct Link:</td>
			<td><a href="https://spee.ch/{{fileInfo.name}}/{{fileInfo.claimId}}">https://spee.ch/{{fileInfo.name}}/{{fileInfo.claimId}}</a></td>
		</tr>
		<tr>
			<td class="left-column">Embed:</td>
			<td><code>&lt;img src="https://spee.ch/{{fileInfo.name}}/{{fileInfo.claimId}}" /></code></td>
		</tr>
	</table>
</div>