<div class="panel">
	<div id="asset-placeholder">
		<a href="/{{fileInfo.claimId}}/{{fileInfo.name}}{{fileInfo.fileExt}}">
		{{#ifConditional fileInfo.fileType '===' 'video/mp4'}}
			<video class="show-asset" autoplay loop controls>
				<source src="/media/{{fileInfo.fileName}}">
				{{!--fallback--}}
				Your browser does not support the <code>video</code> element.
			</video>
		{{else}}
			<img  class="show-asset" src="/media/{{fileInfo.fileName}}" />
		{{/ifConditional}}
		</a>
	</div>
</div>