<div class='row row--wide'>
    <div class="column column--3 align-content-top">
        <a href="{{this.showUrlLong}}"><span class='content-list-card-link'></span></a>
        {{#ifConditional this.contentType '===' 'video/mp4'}}
            <img class="content-list-item-asset" src="{{this.thumbnail}}"/>
        {{else}}
            <img  class="content-list-item-asset" src="{{this.directUrlLong}}" />
        {{/ifConditional}}
    </div><div class="column column--7 align-content-top">
        <p>{{this.title}}</p>
        <a href="{{this.directUrlShort}}">spee.ch{{this.directUrlShort}}</a>
    </div>
</div>

