<div class='content-list-card'>
    <a href="{{this.showUrlLong}}"><span class='content-list-card-link'></span></a>
    {{#ifConditional this.contentType '===' 'video/mp4'}}
         <img class="content-list-asset" src="{{this.thumbnail}}"/>
    {{else}}
        <img  class="content-list-asset" src="{{this.directUrlLong}}" />
    {{/ifConditional}}
    <div class="content-list-details">
        <ul>
            <li class="content-list-title">{{this.title}}</li>
            <li><a href="{{this.directUrlShort}}">spee.ch{{this.directUrlShort}}</a></li>
        </ul>
    </div>
</div>

