    <div class="grid-item" id="grid-item-{{this.name}}-{{this.claimId}}" onmouseenter="showAssetDetails(event)" onmouseleave="hideAssetDetails(event)">
            {{#ifConditional this.contentType '===' 'video/mp4'}}
                <img class="grid-item-image" src="{{this.thumbnail}}"/>
            {{else}}
                <img  class="grid-item-image" src="{{this.claimId}}/{{this.name}}.{{this.fileExt}}" />
            {{/ifConditional}}

        <div class="hidden" onclick="window.location='{{this.claimId}}/{{this.name}}'">
            <p class="grid-item-details-text">{{this.name}}</p>
        </div>
    </div>
