<script src="/vendors/masonry/masonry.pkgd.min.js"></script>

<div class="full"> 
	<h2>Trending</h2>
	<div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
		{{#each trendingAssets}}
			{{#unless this.nsfw}}
				<a href="/{{this.name}}/{{this.claimId}}">
				{{#ifConditional this.fileType '===' 'video/mp4'}}
					<video class="grid-item trending-video" controls onloadeddata="resetLayout()">
						<source src="/media/{{this.fileName}}" >
						{{!--fallback--}}
						Your browser does not support the <code>video</code> element.
					</video>
				{{else}}
					<img  class="grid-item trending-image" src="/media/{{this.fileName}}" onload="resetLayout()"/>
				{{/ifConditional}}
				</a>
			{{/unless}}
			
		{{/each}}
	</div>
</div>


<script>
	var elem = document.querySelector('.grid');
	var msnry = new Masonry( elem, {
		itemSelector: '.grid-item'
	});
	
	function resetLayout() {
		console.log('resetting layout');
		msnry.layout();
	}
</script>

