<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
	{{ placeCommonHeaderTags }}
	<meta property="fb:app_id" content="1371961932852223">
	{{#unless claimInfo.nsfw}}
	    {{{addTwitterCard claimInfo }}}
	    {{{addOpenGraph claimInfo }}}
	{{/unless}}
    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<!-- google analytics -->
	{{ googleAnalytics }}
</head>
<body id="show-body">
    <script src="/assets/js/generalFunctions.js"></script>
    <script src="/assets/js/assetConstructor.js"></script>
    {{{ body }}}
</body>
</html>

