<div class="wrapper">
	<div class="top-bar">
		{{> topBar}}
	</div>
	<div>
		<h3>All Claims</h3>
		<p>These are all the free, public assets at that claim.  You can publish more at <a href="/">spee.ch</a>.</p>
		{{#each claims}}
			<div class="all-claims-item">
				<img class="all-claims-img" src="/{{this.name}}/{{this.claim_id}}" />
				<div class="all-claims-details">
					<ul style="list-style-type:none">
						<li>claim: {{this.name}}</li>
						<li>claim_id: {{this.claim_id}}</li>
						<li>direct link: <a href="/{{this.name}}/{{this.claim_id}}">spee.ch/{{this.name}}/{{this.claim_id}}</a></li>
						<li>author: {{this.value.stream.metadata.author}}</li>
						<li>description: {{this.value.stream.metadata.description}}</li>
						<li>license: {{this.value.stream.metadata.license}}</li>
					</ul>
				</div>
			</div>
		{{/each}}
	</div>
	<div class="footer">
		{{> footer}}
	</div>
</div>