<div class="wrapper">
	<div class="top-bar">
		{{> topBar}}
	</div>
	<div>
		<h3>Analytics</h3>
		<table>
			<tr>
				<th>action</th>
				<th>url</th> 
				<th class="center-text">count</th>
				<th class="center-text">success</th>
				<th class="center-text">failure</th>
			</tr>
			{{#each records}}
			<tr>
				<td>{{ this.action }}</td>
				<td>{{ this.url }}</td> 
				<td class="center-text">{{ this.count }}</td>
				<td class="center-text">{{ this.success }}</td>
				<td class="center-text">{{ this.failure }}</td>
			</tr>
			{{/each}}
			<tr>
				<td></td>
				<td></td> 
				<td class="totals-row center-text">{{ totals.totalCount }}</td>
				<td class="totals-row center-text">{{ totals.totalSuccess }}</td>
				<td class="totals-row center-text">{{ totals.totalFailure }}</td>
			</tr>
		</table>
		<p>Requests: {{ totals.totalRequests }}</p>
		<p>Publish: {{ totals.totalPublish }}</p>
		<p>Show: {{ totals.totalShow }}</p>
		<p>Percent Success: {{ percentSuccess}}%</p>
	</div>
</div>