<div class="wrapper">
	{{> topBar}}
	<div>
		<h3>{{this.channelName}}</h3>
		<p>Below are all the free claims in this channel.</p>
		{{#each channelContents}}
			<div class="all-claims-item">
				<a href="/{{this.channelName}}:{{this.shortChannelId}}/{{this.name}}.{{this.fileExtension}}">
					{{#ifConditional this.contentType '===' 'video/mp4'}}
						<img class="all-claims-asset" src="/assets/img/content-freedom-large.png"/>
					{{else}}
						<img  class="all-claims-asset" src="/{{this.claimId}}/{{this.name}}.{{this.fileExtension}}" />
					{{/ifConditional}}
				</a>
				<div class="all-claims-details">
					<ul style="list-style-type:none">
						<li><strong>{{this.title}}</strong></li>
						<li><i> {{this.description}}</i></li>
						<li><a href="/{{this.channelName}}:{{this.shortChannelId}}/{{this.name}}.{{this.fileExtension}}">spee.ch/{{this.channelName}}:{{this.shortChannelId}}/{{this.name}}.{{this.fileExtension}}</a></li>
						<li>License: {{this.license}}</li>
						<li>Claim: {{this.name}}</li>
						<li>
   						 Claim: 
    						<a href="lbry://{{this.name}}">lbry://{{this.name}}</a>
						</li>
						<li>Claim Id: {{this.claimId}}</li>
					</ul>
				</div>
			</div>
		{{/each}}
	</div>
	{{> footer}}
</div>
