<div class="row row--padded">
    <div class="row">
        <h2>{{this.channelName}}<span class="h2--secondary">:{{this.longChannelId}}</span></h2>
        <div class="grid">
            {{#each this.claims}}
                {{> gridItem}}
            {{/each}}
        </div>
        <div class="row">
            <div class="column column--3 align-content--left">
                <a href="/{{this.channelName}}:{{this.longChannelId}}?p=1">First [1]</a>
            </div><div class="column column--4 align-content-center">
                {{#if this.previousPage}}
                    <a href="/{{this.channelName}}:{{this.longChannelId}}?p={{this.previousPage}}">Previous</a>
                {{else}}
                    <a disabled>Previous </a>
                {{/if}}
                |
                {{#if this.nextPage}}
                    <a href="/{{this.channelName}}:{{this.longChannelId}}?p={{this.nextPage}}">Next</a>
                {{else}}
                    <a disabled>Next</a>
                {{/if}}
            </div><div class="column column--3 align-content-right">
                <a href="/{{this.channelName}}:{{this.longChannelId}}?p={{this.totalPages}}">Last [{{this.totalPages}}]</a>
            </div>
        </div>
    </div>
</div>

<script src="/assets/vendors/masonry/masonry.pkgd.min.js"></script>
<script src="/assets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script>
    // init masonry with element
    var grid = document.querySelector('.grid');
    var msnry;

    imagesLoaded( grid, function() {
        msnry = new Masonry( grid, {
            itemSelector: '.grid-item',
            columnWidth: 3,
            percentPosition: true
        });
    });

</script>