<div class="wrapper">
	{{> topBar}}
	<div>
		<h2>New on Spee.ch</h2>
		<p><i>The 25 most recent publishes on spee.ch</i></p>
		{{#each newClaims}}
			<div class="all-claims-item">
				<a href="/{{this.claimId}}/{{this.name}}">
					{{#ifConditional this.fileType '===' 'video/mp4'}}
						<img class="all-claims-asset" src="/assets/img/content-freedom-large.png"/>
					{{else}}
						<img  class="all-claims-asset" src="/{{this.claimId}}/{{this.name}}.ext" />
					{{/ifConditional}}
				</a>
				<div class="all-claims-details">
					<ul style="list-style-type:none">
						<li><bold>{{this.name}}</bold></li>
						<li><i>Claim Id: {{this.claimId}}</i></li>
						<li><a class="link--primary" href="/{{this.claimId}}/{{this.name}}">Link</a></li>
					</ul>
				</div>
			</div>
		{{/each}}
	</div>
	{{> footer}}
</div>