<div id="asset-placeholder">
	<a href="/{{fileInfo.claimId}}/{{fileInfo.name}}">
	{{#ifConditional fileInfo.fileType '===' 'video/mp4'}}
		<video class="show-asset-lite" autoplay loop controls>
			<source src="/media/{{fileInfo.fileName}}">
			{{!--fallback--}}
			Your browser does not support the <code>video</code> element.
		</video>
		{{addOpenGraph fileInfo.name links.showUrl 'video' links.source fileInfo.fileType }}
	{{else}}
		<img class="show-asset-lite" src="/media/{{fileInfo.fileName}}" alt="{{fileInfo.fileName}}"/>
		{{addOpenGraph fileInfo.name links.showUrl 'image' links.source fileInfo.fileType }}
	{{/ifConditional}}
	</a>
</div>