<div id="asset-placeholder">
	<a class="link--primary" href="/{{fileInfo.claimId}}/{{fileInfo.name}}">
	{{#ifConditional fileInfo.fileType '===' 'video/mp4'}}
		{{#ifConditional fileInfo.fileExt '===' '.gifv'}}
			<video class="show-asset-light" autoplay loop muted>
				<source src="/media/{{fileInfo.fileName}}">
				{{!--fallback--}}
				Your browser does not support the <code>video</code> element.
			</video>
		{{else}}
			<video class="show-asset-light" autoplay controls>
				<source src="/media/{{fileInfo.fileName}}">
				{{!--fallback--}}
				Your browser does not support the <code>video</code> element.
			</video>
		{{/ifConditional}}
	{{else}}
		<img class="show-asset-lite" src="/media/{{fileInfo.fileName}}" alt="{{fileInfo.fileName}}"/>
	{{/ifConditional}}
	</a>
</div>