{{#ifConditional fileInfo.fileType '===' 'video/mp4'}}
    {{#ifConditional fileInfo.fileExt '===' '.gifv'}}
        <video class="show-asset-light" autoplay loop muted>
            <source src="/media/{{fileInfo.fileName}}">
            {{!--fallback--}}
            Your browser does not support the <code>video</code> element.
        </video>
    {{else}}
        <video class="show-asset-light" controls id="video-player">
            <source src="/media/{{fileInfo.fileName}}">
            {{!--fallback--}}
            Your browser does not support the <code>video</code> element.
        </video>
    {{/ifConditional}}
    <br/>
    hosted via <a href="/{{fileInfo.claimId}}/{{fileInfo.name}}">spee&lt;h</a>
{{else}}
<a href="/{{fileInfo.claimId}}/{{fileInfo.name}}">
    <img class="show-asset-lite" src="/media/{{fileInfo.fileName}}" alt="{{fileInfo.fileName}}"/>
</a>
{{/ifConditional}}